* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    
}

header {
    text-align: center;
}

form {
    align-items: center;
    background-color: aqua;
    padding: 20px;
    
}